---
title: Archive
---
{% assign postsByYear=site.posts | group_by_exp: "post", "post.date|date: '%Y'" %}
{% for year in postsByYear %}
<div class="page-group-list">
<h4 class="post-meta">{{year.name}}</h4>
<ul>
    {% for post in year.items %} 
        <h4>
            <a href="{{post.url|relative_url}}">{{post.title}}</a>
          </h4>              
    {% endfor %}
</ul>
</div>
{% endfor %}


<!-- <ul>
    {% assign related_tag=site.tags | first | first %}
    {% assign related_posts=site.posts | where_exp: "item", "item.tags contains 'nature'" | sample: 2  %}
    {% for post in related_posts %}
    <li>
        <h3>
            <a href="{{post.url|relative_url}}">{{post.title}}</a>
        </h3>
    </li>
    {% endfor %}
</ul> -->