.post-title-related {
    @include relative-font-size(1.2);
    line-height: 1;
  
    @include media-query($on-laptop) {
      @include relative-font-size(1.2);
    }
  }

.related-post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-top: -$spacing-unit/3 ;
  }

  .footer-col-related {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit;
  }  

.footer-col-4 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.related{
    margin-top: $spacing-unit*3;
}

.page-group-list{
  margin-bottom: $spacing-unit*1.7;
}

.page-group-title{
  margin-bottom:$spacing-unit*0.2;
}

.page-group-meta{
  margin-top: 0;
  margin-bottom:$spacing-unit*0.2;
}

.page-group-content{
  margin-top:0;
}

